/* Make navbar logo bigger (hugo-profile) */
nav.navbar .navbar-brand img,
.navbar .navbar-brand img,
a.navbar-brand img {
  height: 56px !important;
  max-height: 56px !important;
  width: auto !important;
}

/* In case the logo is an SVG */
nav.navbar .navbar-brand svg,
.navbar .navbar-brand svg,
a.navbar-brand svg {
  height: 56px !important;
  width: auto !important;
}

/* Add a little vertical alignment so it doesn't look off */
nav.navbar .navbar-brand,
.navbar .navbar-brand,
a.navbar-brand {
  display: flex !important;
  align-items: center !important;
}

/* Fallback if logo is set as background-image */
nav.navbar .navbar-brand,
.navbar .navbar-brand {
  height: 56px !important;
}

nav.navbar .navbar-brand * {
  max-height: 56px !important;
}
